<h1 align = "center">Privacy Policy</h1>
<br>
<h3><br>Our Commitment To Privacy</h3>
<p>Your privacy is important to us. To better protect your privacy we provide 
    this notice explaining our online information practices and the choices you 
    can make about the way your information is collected and used. To make this 
    notice easy to find, we make it available on our homepage and at every point 
    where personally identifiable information may be requested. </p><br><br>


<h3>The Information We Collect: </h3>
<p>This notice applies to all information collected or submitted on this website. 
    On some pages, you can order products, make requests, and register to receive 
    materials. The types of personal information collected at these pages are: 
</p>
<p>Name <br>
    Name <br>
    Email address <br>
    password<br>
    <br>
</p><br><br>

<h3>The Information We DONT Collect:</h3>
<p>Credit/Debit Card Information.</p><br><br>

<h3>The Way We Use Information:</h3>
<p>We use the information you provide about yourself, only to communicate and to identify you.
    We do not share this information with outside parties 
    except to the extent necessary to complete that order. </p>


<p>We use return email addresses to answer the email we receive. Such addresses 
    are not used for any other purpose and are not shared with outside parties. 
</p>
<p>When you register with our web site, this gives us confirmation that we can email you for necessary reasons.
    For example, update notification, password change, student/client test notification and  cancellations.
    Information you submit on our web site will not be used for this purpose unless you fill out the registration 
    form. </p>


<p>We use non-identifying and aggregate information to better design our website 
    and to share with advertisers. For example, we may tell an advertiser that 
    X number of individuals visited a certain area on our web site, or that Y number 
    of men and Z number of women filled out our registration form, but we would 
    not disclose anything that could be used to identify those individuals. </p>
<p>Finally, we never use or share the personally identifiable information provided 
    to us online in ways unrelated to the ones described above without also providing 
    you an opportunity to opt-out or otherwise prohibit such unrelated uses. </p><br><br>


<h3>Our Commitment To Data Security</h3>
<p>To prevent unauthorised access, maintain data accuracy, and ensure the correct 
    use of information, we have put in place appropriate physical, electronic, 
    and managerial procedures to safeguard and secure the information we collect 
    online. </p><br><br>


<h3>How You Can Access Or Correct your Information</h3>
<p>You can access all your personally identifiable information that we collect 
    online and maintain by <a href="mailto:dippydoon100@yahoo.com.com">sending 
        us an email</a>.. We use this procedure to better safeguard your information. 
</p>
<p>You can correct factual errors in your personally identifiable information 
    by sending us a request that credibly shows error or by yourself via the accounts page. </p>
<p>To protect your privacy and security, we will also take reasonable steps 
    to verify your identity before granting access or making corrections. </p><br><br>

<h3>Changes to this policy</h3>
<p>This policy was last edited January 2017. We reserve the right to amend this privacy statement. You are advised to visit this web site 
    section periodically in order to keep up to date with the changes in our privacy policy.</p><br><br>

<h3>Prohibited use</h3>

<p>The following actions concerning the use of this website are prohibited:</p><br><br>
<ul>
    <li>Actions that cause or may cause a third party or the HDT to incur losses or damage</li>
    <li>Actions that offend or may offend the public order and morals</li>
    <li>Actions that constitute or lead to, or may constitute or lead to, criminal activity</li>
    <li>Actions that involve fraudulently filing applications or notifications, such as registration using other people's e-mail address</li>
    <li>Sales activities, profit-oriented activities or activities in preparation of these activities</li>
    <li>Actions that damage the reputation or credit of any third party or the HDT</li>
    <li>Actions that involve using or providing, or that may use or provide, malicious programs, such as computer viruses</li>
    <li>Other actions that violate or may violate laws, acts or ordinances</li>
    <li>Other actions that are deemed inappropriate by the HDT</li>
</ul><br><br>

<h3>Disclaimer</h3

<p>The HDT carefully and comprehensively scrutinize the information provided via this website. However, under no circumstances does the HDT guarantee its 
accuracy, usefulness, safety, or suitability for the users' purposes. In addition, the HDT does not accept responsibility for any losses attributed to 
anybody using or not using the information on this web site. Please note that the HDT may change the information on this web site without notice, and it 
may suspend or shut down the web site. The HDT does not accept responsibility for any losses incurred through changes to the information, or the 
suspension or the shutting down of the web site for any reason whatsoever.</p><br><br>

<h3>Web browser cookies</h3

<p>Our Site may use "cookies" to enhance User experience. User's web browser places cookies on their hard drive for record-keeping purposes and sometimes 
    to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. 
    If they do so, note that some parts of the Site may not function properly.</p><br><br>

<h3>How To Contact Us</h3>
<p>Should you have other questions or concerns about these privacy policies, 
    please <a href="mailto:dippydoon100@yahoo.com.com">contact us</a>.<br>
    &nbsp; </p><br>
